In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 
import csv
import json

# Honey

In [25]:
data = pd.read_csv("bee_data/6honey.csv")
expensive = pd.DataFrame(data)

In [26]:
expensive.dropna(axis=1, how='all')

,Program,Year,Period,Geo Level,State,State ANSI,watershed_code,Commodity,Data Item,Domain,Domain Category,Value
0,SURVEY,2019,MID DEC,NATIONAL,US TOTAL,NaN,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"41,022,000"
1,SURVEY,2019,MID DEC,STATE,ALABAMA,1.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"44,000"
2,SURVEY,2019,MID DEC,STATE,ARIZONA,4.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"201,000"
3,SURVEY,2019,MID DEC,STATE,ARKANSAS,5.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"176,000"
4,SURVEY,2019,MID DEC,STATE,CALIFORNIA,6.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"3,216,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
1465,SURVEY,1987,MID DEC,STATE,VIRGINIA,51.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"120,000"
1466,SURVEY,1987,MID DEC,STATE,WASHINGTON,53.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"206,000"
1467,SURVEY,1987,MID DEC,STATE,WEST VIRGINIA,54.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"207,000"
1468,SURVEY,1987,MID DEC,STATE,WISCONSIN,55.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"1,160,000"
1469,SURVEY,1987,MID DEC,STATE,WYOMING,56.0,0,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"520,000"

In [27]:
annual_totals = expensive.groupby(["Year", "State"], as_index=False)[['Value']].sum() 

# expensive[cols] = expensive[cols].replace({'\$': '', ',': ''}, regex=True)
# expensive

annual_totals

      Year          State      Value
0     1987        ALABAMA    242,000
1     1987        ARIZONA    338,000
2     1987       ARKANSAS    200,000
3     1987     CALIFORNIA  1,782,000
4     1987       COLORADO     96,000
...    ...            ...        ...
1465  2019       VIRGINIA     49,000
1466  2019     WASHINGTON  1,191,000
1467  2019  WEST VIRGINIA     47,000
1468  2019      WISCONSIN    692,000
1469  2019        WYOMING    306,000

[1470 rows x 3 columns]

In [72]:
# first_year = annual_totals.loc[annual_totals['State'] == 'US Total']
# first_year

# Pumpkins

In [74]:
data2 = pd.read_csv("bee_data/1pumpkins.csv")
crops1 = pd.DataFrame(data2)

In [79]:
crops1.dropna(axis=1, how='all')

,Program,Year,Period,Geo Level,State,State ANSI,watershed_code,Commodity,Data Item,Domain,Domain Category,Value
0,SURVEY,2019,YEAR,NATIONAL,US TOTAL,NaN,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,219.8
1,SURVEY,2019,YEAR,STATE,CALIFORNIA,6.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,255
2,SURVEY,2019,YEAR,STATE,ILLINOIS,17.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,385
3,SURVEY,2019,YEAR,STATE,INDIANA,18.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,245
4,SURVEY,2019,YEAR,STATE,MICHIGAN,26.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,150
...,...,...,...,...,...,...,...,...,...,...,...,...
174,SURVEY,2000,YEAR,STATE,ILLINOIS,17.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,410
175,SURVEY,2000,YEAR,STATE,MICHIGAN,26.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,160
176,SURVEY,2000,YEAR,STATE,NEW YORK,36.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,200
177,SURVEY,2000,YEAR,STATE,OHIO,39.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,165
178,SURVEY,2000,YEAR,STATE,PENNSYLVANIA,42.0,0,PUMPKINS,"PUMPKINS - YIELD, MEASURED IN CWT / ACRE",TOTAL,NOT SPECIFIED,170

In [82]:
pumpkin_totals = crops1.groupby(["Year", "State", "Value"]).agg('sum')
pumpkin_totals.head()

                       Week Ending  State ANSI  Ag District  Ag District Code  \
Year State      Value
2000 CALIFORNIA 305            0.0         6.0          0.0               0.0
     ILLINOIS   410            0.0        17.0          0.0               0.0
     MICHIGAN   160            0.0        26.0          0.0               0.0
     NEW YORK   200            0.0        36.0          0.0               0.0
     OHIO       165            0.0        39.0          0.0               0.0

                       County  County ANSI  Zip Code  Region  watershed_code  \
Year State      Value
2000 CALIFORNIA 305       0.0          0.0       0.0     0.0               0
     ILLINOIS   410       0.0          0.0       0.0     0.0               0
     MICHIGAN   160       0.0          0.0       0.0     0.0               0
     NEW YORK   200       0.0          0.0       0.0     0.0               0
     OHIO       165       0.0          0.0       0.0     0.0               0

                       Watershed  CV (%)
Year State      Value
2000 CALIFORNIA 305          0.0     0.0
     ILLINOIS   410          0.0     0.0
     MICHIGAN   160          0.0     0.0
     NEW YORK   200          0.0     0.0
     OHIO       165          0.0     0.0