In [1]:
import pandas as pd
import numpy as np

In [2]:
bee_data = pd.read_csv("../bee_data/machine_learning_dataset.csv")
bee_data

,Unnamed: 0,year,state,deadout,cc_syn,pesticides,lbs_of_honey,count_colonies,extreme_temp_days
0,0,2019,ALABAMA,2300,430,5.4,44000,6166,16
1,1,2019,ARIZONA,11500,5670,50.9,201000,27333,24
2,2,2019,ARKANSAS,10200,1870,113.6,176000,22333,51
3,3,2019,CALIFORNIA,464000,44500,39.6,3216000,830000,0
4,4,2019,COLORADO,17820,4600,25.5,500000,21666,136
5,5,2019,FLORIDA,96000,19900,52.8,830000,260000,0
6,6,2019,GEORGIA,47500,21800,44.5,370000,118333,10
7,7,2019,HAWAII,1890,140,1.7,51000,16833,0
8,8,2019,IDAHO,38500,8100,29.6,677000,112666,131
9,9,2019,ILLINOIS,4940,1010,6.6,116000,11833,133
10,10,2019,INDIANA,3010,610,35.3,198000,12500,115
11,11,2019,IOWA,12500,2120,51.8,1170000,23166,147
12,12,2019,KANSAS,4050,870,79.5,171000,5600,112
13,13,2019,KENTUCKY,2150,380,15.8,44000,6733,68
14,14,2019,LOUISIANA,9900,2270,58.0,428000,44000,4
15,15,2019,MAINE,2340,120,2.5,110000,10000,158
16,16,2019,MICHIGAN,24000,7700,15.8,1363000,67333,144
17,17,2019,MINNESOTA,38700,5600,19.5,3063000,80000,174
18,18,2019,MISSISSIPPI,8700,1240,87.7,141000,23333,27
19,19,2019,MISSOURI,3100,530,1.4,73000,9333,95
20,20,2019,MONTANA,29000,2920,7.7,5802000,85000,168
21,21,2019,NEBRASKA,8900,2610,7.1,223000,30166,138
22,22,2019,NEW JERSEY,1210,300,0.2,155000,12500,93
23,23,2019,NEW YORK,21900,4910,18.6,1027000,51333,130
24,24,2019,NORTH CAROLINA,7600,1010,7.1,118000,16666,35
25,25,2019,NORTH DAKOTA,109100,10500,19.2,6422000,347333,183
26,26,2019,OHIO,7800,2700,3.5,442000,16333,115
27,27,2019,OREGON,30500,5370,17.1,1141000,95666,62
28,28,2019,PENNSYLVANIA,7680,1720,12.2,409000,18333,111
29,29,2019,SOUTH CAROLINA,4790,290,21.4,45000,13000,13
30,30,2019,SOUTH DAKOTA,59600,4900,22.1,7582000,154166,166
31,31,2019,TENNESSEE,7300,850,43.6,91000,10333,32
32,32,2019,TEXAS,45500,8400,24.7,1814000,171666,13
33,33,2019,UTAH,9000,6150,10.5,89000,20833,111
34,34,2019,VERMONT,570,50,0.8,84000,6833,149
35,35,2019,VIRGINIA,2870,440,1.6,49000,7500,46
36,36,2019,WASHINGTON,40500,17000,24.5,1191000,75000,121
37,37,2019,WEST VIRGINIA,3900,1690,3.3,47000,7500,99
38,38,2019,WISCONSIN,18700,4520,33.3,692000,41833,158
39,39,2019,WYOMING,6550,3580,2.2,306000,19166,172

In [3]:
bee_data.drop("Unnamed: 0", inplace=True, axis=1)
bee_data

,year,state,deadout,cc_syn,pesticides,lbs_of_honey,count_colonies,extreme_temp_days
0,2019,ALABAMA,2300,430,5.4,44000,6166,16
1,2019,ARIZONA,11500,5670,50.9,201000,27333,24
2,2019,ARKANSAS,10200,1870,113.6,176000,22333,51
3,2019,CALIFORNIA,464000,44500,39.6,3216000,830000,0
4,2019,COLORADO,17820,4600,25.5,500000,21666,136
5,2019,FLORIDA,96000,19900,52.8,830000,260000,0
6,2019,GEORGIA,47500,21800,44.5,370000,118333,10
7,2019,HAWAII,1890,140,1.7,51000,16833,0
8,2019,IDAHO,38500,8100,29.6,677000,112666,131
9,2019,ILLINOIS,4940,1010,6.6,116000,11833,133
10,2019,INDIANA,3010,610,35.3,198000,12500,115
11,2019,IOWA,12500,2120,51.8,1170000,23166,147
12,2019,KANSAS,4050,870,79.5,171000,5600,112
13,2019,KENTUCKY,2150,380,15.8,44000,6733,68
14,2019,LOUISIANA,9900,2270,58.0,428000,44000,4
15,2019,MAINE,2340,120,2.5,110000,10000,158
16,2019,MICHIGAN,24000,7700,15.8,1363000,67333,144
17,2019,MINNESOTA,38700,5600,19.5,3063000,80000,174
18,2019,MISSISSIPPI,8700,1240,87.7,141000,23333,27
19,2019,MISSOURI,3100,530,1.4,73000,9333,95
20,2019,MONTANA,29000,2920,7.7,5802000,85000,168
21,2019,NEBRASKA,8900,2610,7.1,223000,30166,138
22,2019,NEW JERSEY,1210,300,0.2,155000,12500,93
23,2019,NEW YORK,21900,4910,18.6,1027000,51333,130
24,2019,NORTH CAROLINA,7600,1010,7.1,118000,16666,35
25,2019,NORTH DAKOTA,109100,10500,19.2,6422000,347333,183
26,2019,OHIO,7800,2700,3.5,442000,16333,115
27,2019,OREGON,30500,5370,17.1,1141000,95666,62
28,2019,PENNSYLVANIA,7680,1720,12.2,409000,18333,111
29,2019,SOUTH CAROLINA,4790,290,21.4,45000,13000,13
30,2019,SOUTH DAKOTA,59600,4900,22.1,7582000,154166,166
31,2019,TENNESSEE,7300,850,43.6,91000,10333,32
32,2019,TEXAS,45500,8400,24.7,1814000,171666,13
33,2019,UTAH,9000,6150,10.5,89000,20833,111
34,2019,VERMONT,570,50,0.8,84000,6833,149
35,2019,VIRGINIA,2870,440,1.6,49000,7500,46
36,2019,WASHINGTON,40500,17000,24.5,1191000,75000,121
37,2019,WEST VIRGINIA,3900,1690,3.3,47000,7500,99
38,2019,WISCONSIN,18700,4520,33.3,692000,41833,158
39,2019,WYOMING,6550,3580,2.2,306000,19166,172

In [4]:
bee_data.head()

,year,state,deadout,cc_syn,pesticides,lbs_of_honey,count_colonies,extreme_temp_days
0,2019,ALABAMA,2300,430,5.4,44000,6166,16
1,2019,ARIZONA,11500,5670,50.9,201000,27333,24
2,2019,ARKANSAS,10200,1870,113.6,176000,22333,51
3,2019,CALIFORNIA,464000,44500,39.6,3216000,830000,0
4,2019,COLORADO,17820,4600,25.5,500000,21666,136

### Train and Test Data

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = bee_data.drop(["year", "lbs_of_honey", "state"], axis=1)

In [8]:
y = bee_data["lbs_of_honey"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [10]:
X_train.shape

(32, 5)

In [11]:
X_test.shape

(8, 5)

### Standardization

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()

In [14]:
train_scaled = scaler.fit_transform(X_train)

In [15]:
test_scaled = scaler.transform(X_test)

### K-Nearest Neighbor

In [16]:
from sklearn.neighbors import KNeighborsRegressor

In [17]:
model = KNeighborsRegressor()

In [18]:
model.fit(train_scaled, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

### Model Evaluation

In [19]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [20]:
mse = mean_squared_error(y_train, model.predict(train_scaled))
mae = mean_absolute_error(y_train, model.predict(train_scaled))

In [21]:
from math import sqrt

In [22]:
print("mse = ",mse," & mae = ",mae," & rmse = ", sqrt(mse))

mse =  1396535120000.0  & mae =  580275.0  & rmse =  1181750.8705306714

In [23]:
test_mse = mean_squared_error(y_test, model.predict(test_scaled))
test_mae = mean_absolute_error(y_test, model.predict(test_scaled))
print("mse = ",test_mse," & mae = ",test_mae," & rmse = ", sqrt(test_mse))

mse =  851081170000.0  & mae =  656900.0  & rmse =  922540.6061523797