In [4]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np

In [5]:
df = pd.read_csv('honey_prices.csv')
df.head()

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,2020,8.03,7.88,7.95,7.90,8.09,7.89,7.93,7.83,7.95,7.61,7.76,7.89
1,2019,7.28,7.54,7.86,7.66,7.66,7.72,7.68,7.62,7.89,7.71,7.85,8.08
2,2018,7.57,7.22,7.34,7.28,7.03,7.23,7.37,7.41,7.17,7.34,7.51,7.46
3,2017,7.35,6.99,6.85,7.04,7.06,7.25,7.05,7.26,7.27,7.37,7.18,7.25
4,2016,6.74,6.91,6.79,6.79,6.72,7.12,7.01,6.88,6.88,7.12,7.04,7.39

In [6]:
df1 = df.T
df1

,0,1,2,3,4,5,6,7,8,9,10
year,2020.00,2019.00,2018.00,2017.00,2016.00,2015.00,2014.00,2013.00,2012.00,2011.00,2010.00
jan,8.03,7.28,7.57,7.35,6.74,6.65,5.98,5.67,5.26,4.94,4.82
feb,7.88,7.54,7.22,6.99,6.91,6.43,6.17,5.83,5.43,5.02,4.62
mar,7.95,7.86,7.34,6.85,6.79,6.57,6.17,5.68,5.42,5.10,4.73
apr,7.90,7.66,7.28,7.04,6.79,6.49,6.04,5.73,5.56,5.22,4.60
may,8.09,7.66,7.03,7.06,6.72,6.52,6.40,5.87,5.65,5.19,4.66
jun,7.89,7.72,7.23,7.25,7.12,6.56,6.32,5.81,5.32,5.04,4.81
jul,7.93,7.68,7.37,7.05,7.01,6.73,6.18,6.00,5.67,5.23,4.91
aug,7.83,7.62,7.41,7.26,6.88,6.75,6.32,5.97,5.59,5.17,5.04
sep,7.95,7.89,7.17,7.27,6.88,6.63,6.37,5.82,5.73,5.17,4.98
oct,7.61,7.71,7.34,7.37,7.12,6.69,6.38,5.97,5.57,5.23,4.91
nov,7.76,7.85,7.51,7.18,7.04,6.92,6.31,5.92,5.63,5.22,5.08
dec,7.89,8.08,7.46,7.25,7.39,6.79,6.34,6.04,5.78,5.31,5.06

In [7]:
df1.columns = df1.iloc[0]
df1

year,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0
year,2020.00,2019.00,2018.00,2017.00,2016.00,2015.00,2014.00,2013.00,2012.00,2011.00,2010.00
jan,8.03,7.28,7.57,7.35,6.74,6.65,5.98,5.67,5.26,4.94,4.82
feb,7.88,7.54,7.22,6.99,6.91,6.43,6.17,5.83,5.43,5.02,4.62
mar,7.95,7.86,7.34,6.85,6.79,6.57,6.17,5.68,5.42,5.10,4.73
apr,7.90,7.66,7.28,7.04,6.79,6.49,6.04,5.73,5.56,5.22,4.60
may,8.09,7.66,7.03,7.06,6.72,6.52,6.40,5.87,5.65,5.19,4.66
jun,7.89,7.72,7.23,7.25,7.12,6.56,6.32,5.81,5.32,5.04,4.81
jul,7.93,7.68,7.37,7.05,7.01,6.73,6.18,6.00,5.67,5.23,4.91
aug,7.83,7.62,7.41,7.26,6.88,6.75,6.32,5.97,5.59,5.17,5.04
sep,7.95,7.89,7.17,7.27,6.88,6.63,6.37,5.82,5.73,5.17,4.98
oct,7.61,7.71,7.34,7.37,7.12,6.69,6.38,5.97,5.57,5.23,4.91
nov,7.76,7.85,7.51,7.18,7.04,6.92,6.31,5.92,5.63,5.22,5.08
dec,7.89,8.08,7.46,7.25,7.39,6.79,6.34,6.04,5.78,5.31,5.06

In [8]:
df2 = df1.drop(df1.index[0])
df2

year,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0
jan,8.03,7.28,7.57,7.35,6.74,6.65,5.98,5.67,5.26,4.94,4.82
feb,7.88,7.54,7.22,6.99,6.91,6.43,6.17,5.83,5.43,5.02,4.62
mar,7.95,7.86,7.34,6.85,6.79,6.57,6.17,5.68,5.42,5.10,4.73
apr,7.90,7.66,7.28,7.04,6.79,6.49,6.04,5.73,5.56,5.22,4.60
may,8.09,7.66,7.03,7.06,6.72,6.52,6.40,5.87,5.65,5.19,4.66
jun,7.89,7.72,7.23,7.25,7.12,6.56,6.32,5.81,5.32,5.04,4.81
jul,7.93,7.68,7.37,7.05,7.01,6.73,6.18,6.00,5.67,5.23,4.91
aug,7.83,7.62,7.41,7.26,6.88,6.75,6.32,5.97,5.59,5.17,5.04
sep,7.95,7.89,7.17,7.27,6.88,6.63,6.37,5.82,5.73,5.17,4.98
oct,7.61,7.71,7.34,7.37,7.12,6.69,6.38,5.97,5.57,5.23,4.91
nov,7.76,7.85,7.51,7.18,7.04,6.92,6.31,5.92,5.63,5.22,5.08
dec,7.89,8.08,7.46,7.25,7.39,6.79,6.34,6.04,5.78,5.31,5.06

In [9]:
# df3 = df2.round(decimals=0).astype(object)        
# df3

df3 = pd.DataFrame(df2)

In [10]:
df3

year,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0
jan,8.03,7.28,7.57,7.35,6.74,6.65,5.98,5.67,5.26,4.94,4.82
feb,7.88,7.54,7.22,6.99,6.91,6.43,6.17,5.83,5.43,5.02,4.62
mar,7.95,7.86,7.34,6.85,6.79,6.57,6.17,5.68,5.42,5.10,4.73
apr,7.90,7.66,7.28,7.04,6.79,6.49,6.04,5.73,5.56,5.22,4.60
may,8.09,7.66,7.03,7.06,6.72,6.52,6.40,5.87,5.65,5.19,4.66
jun,7.89,7.72,7.23,7.25,7.12,6.56,6.32,5.81,5.32,5.04,4.81
jul,7.93,7.68,7.37,7.05,7.01,6.73,6.18,6.00,5.67,5.23,4.91
aug,7.83,7.62,7.41,7.26,6.88,6.75,6.32,5.97,5.59,5.17,5.04
sep,7.95,7.89,7.17,7.27,6.88,6.63,6.37,5.82,5.73,5.17,4.98
oct,7.61,7.71,7.34,7.37,7.12,6.69,6.38,5.97,5.57,5.23,4.91
nov,7.76,7.85,7.51,7.18,7.04,6.92,6.31,5.92,5.63,5.22,5.08
dec,7.89,8.08,7.46,7.25,7.39,6.79,6.34,6.04,5.78,5.31,5.06

In [11]:
df3.reset_index()

year,index,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0
0,jan,8.03,7.28,7.57,7.35,6.74,6.65,5.98,5.67,5.26,4.94,4.82
1,feb,7.88,7.54,7.22,6.99,6.91,6.43,6.17,5.83,5.43,5.02,4.62
2,mar,7.95,7.86,7.34,6.85,6.79,6.57,6.17,5.68,5.42,5.10,4.73
3,apr,7.90,7.66,7.28,7.04,6.79,6.49,6.04,5.73,5.56,5.22,4.60
4,may,8.09,7.66,7.03,7.06,6.72,6.52,6.40,5.87,5.65,5.19,4.66
5,jun,7.89,7.72,7.23,7.25,7.12,6.56,6.32,5.81,5.32,5.04,4.81
6,jul,7.93,7.68,7.37,7.05,7.01,6.73,6.18,6.00,5.67,5.23,4.91
7,aug,7.83,7.62,7.41,7.26,6.88,6.75,6.32,5.97,5.59,5.17,5.04
8,sep,7.95,7.89,7.17,7.27,6.88,6.63,6.37,5.82,5.73,5.17,4.98
9,oct,7.61,7.71,7.34,7.37,7.12,6.69,6.38,5.97,5.57,5.23,4.91
10,nov,7.76,7.85,7.51,7.18,7.04,6.92,6.31,5.92,5.63,5.22,5.08
11,dec,7.89,8.08,7.46,7.25,7.39,6.79,6.34,6.04,5.78,5.31,5.06

In [ ]:
import plotly.graph_objects as go
import numpy as np

x = df3[]

fig = go.Figure(data=go.Scatter(x=x, y=x**2))
fig.show()